/* Aligns all text to the center*/
.App {
  text-align: center;
}

/* Creates Background */
.multicolor-background {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
  /* Linear Gradient for multicolor background */
  background: linear-gradient(
    180deg,         /* Gradient direction */
    rgb(95, 101, 163),
    rgb(50, 53, 85),
    rgb(39, 41, 61)
  );
}

/* Creates head banner */
.header-text {
  background-color: rgb(3, 3, 35);
  color: white;
  font-size: 40px;
  padding: 10px;
  font-weight: bold;
  width: 100%;
  text-shadow: 2px 2px #000, 4px 4px #888, 6px 6px #444;
  position: absolute;
  top: 0;

}

.input-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.input {
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input:focus {
  background-color: rgba(255, 255, 255, 0.9);
}

/*Creates the button for the user to click*/
.myButton {
  padding: 20px 50px;
  margin-top: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Center the football image */
.center-football {
  width: 300px;
  height: 250px;
  rotate: 90deg;
  padding:30px;
  animation: bounce 2s infinite;
}
/* Simple bounce animation */
@keyframes bounce {
  0%, 100% {
    transform: translateY(15px);
  }
  50% {
    transform: translateY(-15px);
  }
}
@media (max-width: 768px) {
  .center-football {
    width: 300px;
    height: 250px;
    padding: 40px;
  }

  .input-container input {
    width: 80%;
    margin-bottom: 10px; /* Adds space between inputs for better mobile layout */
  }

  .myButton {
    width: 80%; /* Adjusted for better usability on smaller screens */
    margin: 0 auto; /* Center the button horizontally */
    display: block; /* Ensure it stacks well */
  }

  .logo-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
    gap: 15px; /* Slightly smaller gap for mobile */
  }
}

